<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="assembliesSection" type="Cake.Configuration.AssembliesSection, Cake"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <assembliesSection>
    <assemblies>
      <add path="TestClassLibrary1.dll" />
    </assemblies>
  </assembliesSection>
</configuration>