<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="assembliesSection" type="Cake.Configuration.AssembliesSection, Cake"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!-- configures NLog  -->
  <!-- sample NLog configuration defining one logger which writes to the console -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="coloredConsole" xsi:type="ColoredConsole" layout="${level:uppercase=true} | ${logger} | ${message}"/>
      <target name="script" xsi:type="ColoredConsole" layout="${level:uppercase=true} | ${logger} | ${message}" useDefaultRowHighLightingRules="false">
        <highlight-row foregroundColor="Cyan" condition="true"/>
      </target>
      <target name="file" xsi:type="File" fileName="log.txt"/>
    </targets>
    <rules>
      <logger name="Script" writeTo="script" final="true" minlevel="Debug"/>
      <logger name="*" writeTo="coloredConsole" minlevel="Debug"/>
      <logger name="*" writeTo="file" minlevel="Debug"/>
    </rules>
  </nlog>
</configuration>